<h2>VMs</h2>
<table class="table-condensed table-striped" border=1 style="table-layout: auto;">
  <thead>
    <tr>
      <th>VmName</th>
      <th>PowerState</th>
      <th>IpAddress</th>
      <th>MacAddress</th>
      <th>CpuNum</th>
      <th>MemorySize(MB)</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @vminfos.each do |vminfo| %>
    <% if !vminfo.isTemplate? %>
      <tr>
        <td><%=raw vm_popup_content(vminfo) %></td>
        <td><%=h vminfo.powerstatus %></td>
        <td><%=h vminfo.ipaddress %></td>
        <td><%=h vminfo.macaddress %></td>
        <td><%=h vminfo.cpunum %></td>
        <td><%=h vminfo.memsize %></td>
        <td><%=h button_to "Start" ,{:action =>"poweron"  ,:name => vminfo.name} ,:class => "btn btn-primary btn-small"%></td>
        <td><%=h button_to "Shutdown" ,{:action =>"poweroff" ,:name => vminfo.name},:class => "btn btn-primary btn-small" %></td>
        <td><%=h button_to "Reconfig" ,{:action =>"reconfig_edit" ,:name => vminfo.name},:class => "btn btn-info btn-small" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<h2>Templates</h2>
<table class="table table-striped" border=1>
  <thead>
    <tr>
      <th>VmName</th>
      <th>Path</th>
      <th>NetWork</th>
      <th colspan="1">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @vminfos.each do |vminfo| %>
    <% if vminfo.isTemplate? %>
      <tr>
        <td><%=h vminfo.name %></td>
        <td><%=h vminfo.path %></td>
        <td><%=h vminfo.network %></td>
        <% if vminfo.name =~ /devServerXX_template$/ then %>
        <td><%=h button_to "Migrate" ,{:action =>"migrate"  ,:name => vminfo.name},:class => "btn btn-info btn-small"  %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<br>

