 <%=  render(:partial => 'vmtable') %>
<div class="modal" id="loginModal">
  <a href="#" class="close" data-dismiss="modal">&times;</a>
   <div class="modal-header">
      <h2>Reconfig VM</h2>
   </div>
   <div class="modal-body">
   <div class="alert alert-info">
   サーバーが起動中の時合、再止されます。
   </div>
      <%= form_tag('reconfig' ) do  %>
      
        <div class="field">
          <%= hidden_field_tag(:vmname, @vminfo.name)  %>
        </div>
        <div class="field">
          <%= label_tag 'VMname:' %> <h5><%= @vminfo.name  %></h5>
        </div>
        <div class="field">
          <%= label_tag 'CPUs:' %>
          <%= select_tag :cpunum , options_for_select( @cpu_Select,@vminfo.cpunum || 1)  %>
        </div>
        <div class="field">
          <%= label_tag 'MemorySize(MB):' %>
          <%= select_tag :memsize , options_for_select( @mem_Select,@vminfo.memsize || 1024)  %>
        </div>
   </div>
   <div class="modal-footer">
        <%= button_tag('Cancel' ,{:class => "btn", :type => :reset ,"data-dismiss" => "modal"} )%>
        <%= submit_tag('Reconfig',:class => "btn btn-info") %>
      <% end %>
   </div>
</div>
